@charset "UTF-8";

/* CSS 초기화 */

* {margin: 0 auto; padding: 0; box-sizing:border-box;}
html {overflow-y: scroll;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: normal;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; color: inherit;}
img {max-width:100%; border:none; vertical-align: middle;}
nav ul,  li {list-style: none;}
address {font-style: normal;}
table {border-collapse:collapse; width:100%;}
th {font-weight: normal; text-align: left;}
caption {text-indent:-9999px; height: 0; overflow: hidden; line-height: 0;}
/*body, input, select, textarea, button {font: 14px/1.3 Malgun Gothic, sans-serif;}*/
body, input, select, textarea, button {font: 14px/1.3 'Noto Sans CJK KR','Noto Sans KR', Arial, Verdana, sans-serif;}
input, select, textarea {border: 1px solid #bbb;}
*:after, *:before {box-sizing:border-box;}
.cf:after , .cf:before  {content:''; clear:both; display:block;}
.blind {position: absolute; left: -9999px;}
.skip-menu a {background-color: #000; color: #fff; position: absolute; width:100%; text-align: center; padding: 8px 0; left: 0; top: -500px;}
.skip-menu a:focus {top: 0;}

.select_wrap {
    width: 100%;
    height: 270px;
    padding-top: 30px;
    background-color: #e2e6e8;
}

.search_allbox {
    width: 100%;
    max-width: 1200px;
    height: 210px;
    margin: 0 auto;
    position: relative;
}

.search_title {
    width: 100%;
    height: 56px;
    background-color: #00304a;
    color: #fff;
}

.sc_tt_01, .sc_tt_02, .sc_tt_03 {
    cursor: pointer;
}

.sc_tt_01, .sc_tt_03 {
    width: 70%;
    text-align: left;
    padding-left: 30px;
}

.search_title > div {
    display: inline-block;
    float: left;
    line-height: 56px;
    overflow: hidden;
}

.tt_01_s_txt {
    display: none;
}

.sc_tt_01 strong, .sc_tt_03 strong, .tt_02_l_txt strong {
    font-size: 20px;
}

.sc_tt_02 {
    width: 30%;
    height: inherit;
    text-align: center;
    background-color: #525050;
    color: #d8dad9;
}

.tt_02_l_txt {
    text-align: right;
    padding-right: 30px;
}

.search_box, .md_slt_box {
    width: 100%;
    height: 174px;
    position: absolute;
    top: 56px;
    left: 0;
}

.search_box {
    padding-left: 15%;
}

.search_box > div {
    display: inline-block;
    float: left;
    margin-left: 10px;
}

.select_box {
    width: 80%;
}

fieldset {
    border: none;
}

.main fieldset {
    width: 48%;
    margin-left: 2%;
    float: left;
}

.search_box > div p {
    color: #828282;
    padding: 5px 0;
}

.select_box select {
    color: #6D6E70;
}

.select {
    width: 100%;
    height: 34px;
}

button {
    width: 100%;
    height: 34px;
    background-color: #525050;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 33px;
}

.md_slt_box, .md_slt_768 {
    display: none;
}

.md_slt_ctt {
    width: 33.333%;
    height: 138px;
    float: left;
    border-left: 1px solid #dadada;
    margin: 18px 0;
}

.bd_l_n {
    border-left: none;
}

.md_slt_txt {
    width: 55%;
}

.md_slt_ctt > div {
    height: inherit;
    display: inline;
    float: left;
    text-align: right;
    color: #00304a;
}

.md_slt_txt a {
    display: inline-block;
    font-size: 18px;
    padding: 15px;
}